.container {
    display: grid;
    background-color: aquamarine;
    border: 3px solid black;
    /* Kích thước các cột */
    grid-template-columns: 100px 200px;
    /* Kích thước các cột bằng nhau, mỗi cột là 1 auto */
    grid-template-columns: auto auto;
    /* Kích thước các hàng */
    grid-template-rows: auto;
    /* Khoảng cách giữa các cột */
    column-gap: 10px;
    /* Khoảng cách giữa các hàng */
    row-gap: 20px;
    /* Khoảng cách giữa các hàng và cột */
    gap: 15px;
}

.item{
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
    padding: 15px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aquamarine;
}

/* Gộp cột */
/* .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 {
    grid-column: 2 / 4;
} */

/* Gộp hàng */
/* .item7 {
    grid-row: 3 / 5;
} */

/*css cho nhiều class */
/* .item6, .item5 {
    background-color: lightcoral;
    grid-row: 3 / 4;
} */

/* Tô màu cho nhiều thẻ */
.red {
    background-color: red;
}

.yellow {
    background-color: rgb(232, 232, 93);
}

/* Thực hành */
.container3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 600px;
    height: 600px;
}

.container3 div {
    border: 1px solid black;
    text-align: center;
    align-content: center;
}

.item1{
    grid-row: 1 / 4;
}

.item2 {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.item3 {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.item6 {
    grid-column: 4 / 7;
}

.item8 {
    grid-row: 4 / 7;
    grid-column: 1 / 3;
}

.item9 {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}

.item10 {
    grid-column: 5 / 8;
}

.item11 {
    grid-column: 5 / 8;
    grid-row: 5 / 7;
}

.item12 {
    grid-column: 3 / 5;
    grid-row: 6 / 8;
}

.item13 {
    grid-column: 1 / 3;
}

.item14 {
    grid-column: 5 / 8;
}
